.main{
    margin-top: 100px;
}

.dp img{
    max-width: 250px;
    max-height: 250px;
}

.avatar{
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    margin-right: 25px;
}

.photo{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.card-photo{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 10px;

}
